@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  transition: all 0.2s ease-in-out;
  font-family: "Open Sans";
  z-index: 1 !important;
}

.task-shadow {
  -webkit-box-shadow: 6px 13px 300px -48px rgba(0, 0, 0, 0.74);
  -moz-box-shadow: 6px 13px 300px -48px rgba(0, 0, 0, 0.74);
  box-shadow: 6px 13px 300px -48px rgba(0, 0, 0, 0.74);
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: transparent;
}
::-webkit-scrollbar-thumb:hover {
  background: transparent;
}

.css-xzqo2p-MuiButtonBase-root-MuiAccordionSummary-root {
  padding: 0px;
}

.css-xzqo2p-MuiButtonBase-root-MuiAccordionSummary-root
  .MuiAccordionSummary-content {
  padding: 0;
  margin: 0;
}

.css-3bmhjh-MuiPaper-root-MuiPopover-paper {
  background-color: transparent;
  box-shadow: none;
}
